@font-face {
  font-family: "iranyekan";
  src: url('fonts/iranyekanwebregularfanum.eot?t=1525787366991'); /* IE9*/
  src: url('fonts/iranyekanwebregularfanum.eot?t=1525787366991#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iranyekanwebregularfanum.woff?t=1525787366991') format('woff') /* chrome, firefox */
}